.button {
	-fx-background-color:lightyellow;
}
.button:pressed {
	-fx-background-color: #6eace3;
}

.list-cell {
	-fx-font-size: 18px;
	-fx-font-family: Comic Sans MS;
	-fx-background-radius: 10px;
}
.list-cell:even {
	-fx-background-color: lightyellow;
}
.list-cell:selected {
	-fx-background-color: #6eace3;
}

